.pink {
    color: #dfb6c9;
}

.purple {
    color: #b097c8;
}

.blue {
    color: #6289c6;
}

.azure {
    color: #5dc7c9;
}

.green {
    color: #9fd271;
}

.yellow {
    color: #ffcf3d;
}

.orange {
    color: #f08c4d;
}

.red {
    color: #f36553;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 2em;
    border-radius: 0.25em;
    padding: 0.25em;
    border: 0.1em solid black;
    outline: none;
}

.result {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 1em;
    min-height: 1em;

    word-break: break-all;
}
